<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  
  <script src="/js/home/login.js " defer></script> <!--login.js를 불러옴, 이때 /js/home/login.js는 public/js/home/login.js를 의미-->
  <!-- login.js는 프론트엔드에서 사용할 js파일이다. -->
  <!-- defer는 js파일을 불러온 후에 실행하라는 의미이다.
  async는 js파일을 불러오는 동시에 실행하라는 의미이다. -->
  
  <title>Document</title>
</head>
<body>
  <input id="id" type="text" placeholder='아이디'><br>
  <input id="psword" type="text" placeholder='비밀번호'><br>
  <button>로그인</button>
</body>
</html>